# 464xlat daemon
type clatd, domain;
permissive_or_unconfined(clatd)
type clatd_exec, exec_type, file_type;

init_daemon_domain(clatd)
net_domain(clatd)
