#
# Masquerade needs additional permissions when not running with system_server
# masquerade.substratum.
#
#
type masquerade, domain;

# Add masquerade to domains
net_domain(masquerade)
app_domain(masquerade)
binder_service(masquerade)

# Modify system dalvik-cache
allow masquerade dalvikcache_data_file:dir r_dir_perms;
allow masquerade dalvikcache_data_file:file rw_file_perms;

# Read and write /data/data subdirectory.
allow masquerade system_app_data_file:dir create_dir_perms;
allow masquerade system_app_data_file:{ file lnk_file } create_file_perms;

# /data/resource-cache
r_dir_file(masquerade, resourcecache_data_file)

# Read wallpaper file.
allow masquerade wallpaper_file:file r_file_perms;

# Read icon file.
allow masquerade icon_file:file r_file_perms;

# Set bootanimation
allow masquerade bootanim:process { getsched setsched };

# Backup of wallpaper imagery uses temporary hard links to avoid data churn
allow masquerade { system_data_file wallpaper_file }:file link;

# Manage ringtones.
allow masquerade ringtone_file:dir { create_dir_perms relabelto };
allow masquerade ringtone_file:file create_file_perms;

# System file accesses.
allow masquerade kernel:system module_request;
allow masquerade system_data_file:dir create_dir_perms;
allow masquerade system_data_file:file create_file_perms;
allow masquerade system_file:dir { r_dir_perms rmdir };

# Allow handling of theme assets
allow masquerade theme_data_file:dir create_dir_perms;
allow masquerade theme_data_file:file create_file_perms;

# Modify system properties
set_prop(masquerade, theme_prop)

# Edit files in /sdcard
allow masquerade media_rw_data_file:dir rw_dir_perms;
allow masquerade media_rw_data_file:file rw_file_perms;

# Services
allow masquerade activity_service:service_manager find;
allow masquerade connectivity_service:service_manager find;
allow masquerade display_service:service_manager find;
allow masquerade mount_service:service_manager find;
allow masquerade network_management_service:service_manager find;
allow masquerade overlay_service:service_manager find;
