#
# Masquerade needs additional permissions when not running with system_server
# masquerade.substratum.
#
#
type masquerade, domain;

# Add masquerade to domains
net_domain(masquerade)
app_domain(masquerade)
binder_service(masquerade)

# Modify system dalvik-cache
allow masquerade dalvikcache_data_file:file {  getattr open read  };
allow masquerade dalvikcache_data_file:dir { getattr search  };

# Read and write /data/data subdirectory.
allow masquerade system_app_data_file:dir create_dir_perms;
allow masquerade system_app_data_file:{ file lnk_file } create_file_perms;

# /data/resource-cache
allow masquerade resourcecache_data_file:file r_file_perms;
allow masquerade resourcecache_data_file:dir r_dir_perms;

# Read wallpaper file.
allow masquerade wallpaper_file:file r_file_perms;

# Read icon file.
allow masquerade icon_file:file r_file_perms;

# Set bootanimation
allow masquerade bootanim:process { getsched setsched };

# Backup of wallpaper imagery uses temporary hard links to avoid data churn
allow masquerade { system_data_file wallpaper_file }:file link;

# Manage ringtones.
allow masquerade ringtone_file:dir { create_dir_perms relabelto };
allow masquerade ringtone_file:file create_file_perms;

# Manage overlays and start JobService
allow masquerade overlay_service:service_manager find;
allow masquerade activity_service:service_manager find;

# System file accesses.
allow masquerade system_file:dir r_dir_perms;
allow masquerade system_file:dir rmdir;
allow masquerade kernel:system module_request;
allow masquerade dalvikcache_data_file:file { setattr write };
allow masquerade system_data_file:dir { add_name create rmdir remove_name setattr write };
allow masquerade system_data_file:file { create getattr setattr unlink write read };

# Allow handling of theme assets
allow masquerade theme_data_file:dir { add_name create remove_name setattr write rmdir };
allow masquerade theme_data_file:file { create setattr write unlink };

# Modify system properties
allow masquerade init:unix_stream_socket connectto;
allow masquerade mount_service:service_manager find;
allow masquerade property_socket:sock_file write;
allow masquerade system_prop:property_service set;
allow masquerade connectivity_service:service_manager find;
allow masquerade display_service:service_manager find;

allow masquerade media_rw_data_file:dir { search write };
allow masquerade media_rw_data_file:file { open unlink };
allow masquerade network_management_service:service_manager find;
allow masquerade media_rw_data_file:dir remove_name;
