# mdns daemon
type mdnsd, domain;
permissive_or_unconfined(mdnsd)
type mdnsd_exec, exec_type, file_type;

init_daemon_domain(mdnsd)
net_domain(mdnsd)
