# Domain for shell processes spawned by ADB
type shell, domain, shelldomain, mlstrustedsubject;
type shell_exec, exec_type, file_type;

# Run app_process.
# XXX Transition into its own domain?
app_domain(shell)

# inherits from shelldomain.te
