# wificond
type wificond, domain;
type wificond_exec, exec_type, file_type;

init_daemon_domain(wificond)

binder_use(wificond)
binder_call(wificond, system_server)
binder_call(wificond, wpa)

allow wificond wificond_service:service_manager { add find };

allow wificond sysfs_wlan_fwpath:file w_file_perms;

set_prop(wificond, wifi_prop)

# create sockets to set interfaces up and down
allow wificond self:udp_socket create_socket_perms;
allow wificond self:capability { net_admin net_raw };
allow wificond self:netlink_socket create_socket_perms;

r_dir_file(wificond, proc_net)
