typeattribute cameraserver coredomain;

typeattribute cameraserver camera_service_server;

init_daemon_domain(cameraserver)
tmpfs_domain(cameraserver)

allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver gpu_device:dir r_dir_perms;
allow cameraserver virtual_camera:binder call;
