typeattribute wificond coredomain;

set_prop(wificond, wifi_hal_prop)
set_prop(wificond, wifi_prop)
set_prop(wificond, ctl_default_prop)

get_prop(wificond, hwservicemanager_prop)

allow wificond legacykeystore_service:service_manager find;

init_daemon_domain(wificond)
