type dice_service, domain, coredomain;
type dice_service_exec, system_file_type, exec_type, file_type;

# Block crash dumps to ensure the DICE secrets are not leaked.
typeattribute dice_service no_crash_dump_domain;

# dice_service can be started by init.
init_daemon_domain(dice_service)

# dice_service hosts AIDL services.
binder_use(dice_service)
binder_service(dice_service)
add_service(dice_service, dice_node_service)
add_service(dice_service, dice_maintenance_service)

# dice_service can check SELinux permissions.
selinux_check_access(dice_service)

# dice_service is using bootstrap bionic.
use_bootstrap_libs(dice_service)

# Read config from the device tree and open-dice driver.
allow dice_service sysfs_dt_avf:file r_file_perms;
allow dice_service open_dice_device:chr_file rw_file_perms;
