# Don't audit legacy ctl. property handling.  We only want the newer permission check to appear
# in the audit log
dontaudit domain {
  ctl_console_prop
  ctl_default_prop
  ctl_fuse_prop
}:property_service set;

###
### Neverallow rules
###

neverallow {
  domain
  -init
  -microdroid_manager
} vmsecret_keymint_prop:property_service set;

neverallow {
  domain
  -init
  -microdroid_manager
  -hal_keymint_server
} vmsecret_keymint_prop:file no_rw_file_perms;

# microdroid_manager_roothash_prop can only be set by microdroid_manager
# and read by apkdmverity
neverallow {
    domain
    -init
    -microdroid_manager
} microdroid_manager_roothash_prop:property_service set;

neverallow {
    domain
    -init
    -microdroid_manager
    -apkdmverity
} microdroid_manager_roothash_prop:file no_rw_file_perms;
