userdebug_or_eng(`
  typeattribute su coredomain;

  domain_auto_trans(shell, su_exec, su)

  # su is also permissive to permit setenforce.
  permissive su;

')
