# The extra_free_kbytes.sh script run by init.
type extra_free_kbytes, domain;
type extra_free_kbytes_exec, system_file_type, exec_type, file_type;

# required permissions to run the script from init
allow extra_free_kbytes shell_exec:file rx_file_perms;
allow extra_free_kbytes system_file:file x_file_perms;
allow extra_free_kbytes toolbox_exec:file rx_file_perms;

# files used by the script
allow extra_free_kbytes proc_extra_free_kbytes:file rw_file_perms;
allow extra_free_kbytes proc_watermark_scale_factor:file rw_file_perms;
allow extra_free_kbytes proc_zoneinfo:file r_file_perms;
