# HwBinder IPC from client to server
binder_call(hal_confirmationui_client, hal_confirmationui_server)

hal_attribute_hwservice(hal_confirmationui, hal_confirmationui_hwservice)
hal_attribute_service(hal_confirmationui, hal_confirmationui_service)
binder_call(hal_confirmationui_server, servicemanager)
