# vibrator subsystem
type hal_vibrator, domain;
type hal_vibrator_exec, exec_type, file_type;

# hwbinder access
hwbinder_use(hal_vibrator)

# vibrator sysfs rw access
allow hal_vibrator sysfs_vibrator:file rw_file_perms;
