# Domains for the Secretkeeper HAL, which provides secure (tamper evident, rollback protected)
# storage of secrets guarded by DICE policies.
binder_call(hal_secretkeeper_client, hal_secretkeeper_server)

hal_attribute_service(hal_secretkeeper, hal_secretkeeper_service)

binder_use(hal_secretkeeper_server)
binder_use(hal_secretkeeper_client)
