r_dir_file(hal_bluetooth, system_file)

# call into the Bluetooth process (callbacks)
binder_call(hal_bluetooth, bluetooth)

wakelock_use(hal_bluetooth);

# bluetooth factory file accesses.
r_dir_file(hal_bluetooth, bluetooth_efs_file)

allow hal_bluetooth { uhid_device hci_attach_dev }:chr_file rw_file_perms;

# Access to config files to look for a Bluetooth address
r_dir_file(hal_bluetooth, bluetooth_data_file)

# sysfs access.
r_dir_file(hal_bluetooth, sysfs_type)
allow hal_bluetooth sysfs_bluetooth_writable:file rw_file_perms;
allow hal_bluetooth self:capability2 wake_alarm;

# Allow write access to bluetooth-specific properties
set_prop(hal_bluetooth, bluetooth_prop)

# /proc access (bluesleep etc.).
allow hal_bluetooth proc_bluetooth_writable:file rw_file_perms;
