# HwBinder IPC from client to server
binder_call(hal_confirmationui_client, hal_confirmationui_server)

add_hwservice(hal_confirmationui_server, hal_confirmationui_hwservice)
hal_attribute_hwservice_client(hal_confirmationui, hal_confirmationui_hwservice)
