# HwBinder IPC client/server
binder_call(hal_vibrator_client, hal_vibrator_server)
binder_call(hal_vibrator_server, hal_vibrator_client);

hal_attribute_hwservice(hal_vibrator, hal_vibrator_hwservice)
hal_attribute_service(hal_vibrator, hal_vibrator_service)

binder_call(hal_vibrator_server, servicemanager)

allow hal_vibrator_server dumpstate:fifo_file write;

# vibrator sysfs rw access
allow hal_vibrator sysfs_vibrator:file rw_file_perms;
allow hal_vibrator sysfs_vibrator:dir search;
