# init is its own domain.
type init, domain;
type init_exec, system_file_type, exec_type, file_type;
type init_tmpfs, file_type;

# public is for vendor-facing type and attribute definitions.
# DO NOT ADD allow, neverallow, or dontaudit statements here.
# Instead, add such policy rules to private/*.te.
