# ART boot oneshot service
type art_boot, domain, coredomain;
type art_boot_exec, exec_type, file_type, system_file_type;

init_daemon_domain(art_boot)

# Allow query of device config properties, typically experiment flags.
get_prop(art_boot, device_config_runtime_native_boot_prop)
get_prop(art_boot, device_config_runtime_native_prop)

# Allow ART to set its config properties at boot, mainly to be able to propagate
# experiment flags to properties that only may change at boot.
set_prop(art_boot, dalvik_config_prop_type)
