typeattribute bootanim coredomain;

init_daemon_domain(bootanim)

# b/68864350
dontaudit bootanim unlabeled:dir search;

# Bootanim should not be reading default vendor-defined properties.
dontaudit bootanim vendor_default_prop:file read;

# Read ro.boot.bootreason b/30654343
get_prop(bootanim, bootloader_boot_reason_prop)
