# TODO(b/193504816): move this to compos APEX
type compos, domain, coredomain;
type compos_exec, exec_type, file_type, system_file_type;

type compos_key_cmd, domain, coredomain;
type compos_key_cmd_exec, exec_type, file_type, system_file_type;
