# type_transition must be private policy the domain_trans rules could stay
# public, but conceptually should go with this
init_daemon_domain(dhcp)
type_transition dhcp system_data_file:{ dir file } dhcp_data_file;
