# type_transition must be private policy the domain_trans rules could stay
# public, but conceptually should go with this
# Define and allow access to our own type for ashmem regions.
# Label ashmem objects with our own unique type.
tmpfs_domain(ephemeral_app)
# TODO: deal with tmpfs_domain pub/priv split properly
# Map with PROT_EXEC.
allow ephemeral_app ephemeral_app_tmpfs:file execute;

# Read system properties managed by zygote.
allow ephemeral_app zygote_tmpfs:file read;
