type hal_gatekeeper_default, hal_gatekeeper, domain;
type hal_gatekeeper_default_exec, exec_type, file_type;

init_daemon_domain(hal_gatekeeper_default);
