# HwBinder IPC from client to server, and callbacks
binder_call(hal_remoteaccess_client, hal_remoteaccess_server)
binder_call(hal_remoteaccess_server, hal_remoteaccess_client)

hal_attribute_service(hal_remoteaccess, hal_remoteaccess_service)

