type hal_contexthub_default, hal_contexthub, domain;
type hal_contexthub_default_exec, exec_type, file_type;

init_daemon_domain(hal_contexthub_default)
