type hal_wifi_default, domain;
hal_impl_domain(hal_wifi_default, hal_wifi)

type hal_wifi_default_exec, exec_type, file_type;
init_daemon_domain(hal_wifi_default)
