type hal_dumpstate_default, domain;
hal_impl_domain(hal_dumpstate_default, hal_dumpstate)

type hal_dumpstate_default_exec, exec_type, file_type;
init_daemon_domain(hal_dumpstate_default)
