# Binder IPC from clients into server, and callbacks
binder_call(hal_tv_hdmi_earc_client, hal_tv_hdmi_earc_server)
binder_call(hal_tv_hdmi_earc_server, hal_tv_hdmi_earc_client)
binder_use(hal_tv_hdmi_earc_client)
binder_use(hal_tv_hdmi_earc_server)

hal_attribute_service(hal_tv_hdmi_earc, hal_tv_hdmi_earc_service)
