type hal_fingerprint_default, hal_fingerprint, domain;
type hal_fingerprint_default_exec, exec_type, file_type;
# type_transition must be private policy the domain_trans rules could stay
# public, but conceptually should go with this
init_daemon_domain(hal_fingerprint_default)
