typeattribute healthd coredomain;

init_daemon_domain(healthd)

# Allow healthd to serve health HAL
hal_server_domain(healthd, hal_health)

# Healthd needs to tell init to continue the boot
# process when running in charger mode.
set_prop(healthd, system_prop)
set_prop(healthd, exported_system_prop)
set_prop(healthd, exported2_system_prop)
set_prop(healthd, exported3_system_prop)
