#
# ot_rcp is the simulated Thread Radio Coprocessor device which is used by ot_daemon.
#

type ot_rcp, domain, coredomain;
type ot_rcp_exec, exec_type, file_type, system_file_type;

userdebug_or_eng(`
allow ot_rcp ot_daemon:fd use;
allow ot_rcp ot_daemon:fifo_file rw_file_perms;
allow ot_rcp ot_daemon_devpts:chr_file {read write};
allow ot_rcp self:udp_socket create_socket_perms_no_ioctl;
allow ot_rcp port:udp_socket name_bind;
allow ot_rcp node:udp_socket node_bind;
')
