# type_transition must be private policy the domain_trans rules could stay
# public, but conceptually should go with this
domain_auto_trans(mtp, ppp_exec, ppp)
