type screencap, domain;
type screencap_exec, exec_type, file_type;

typeattribute screencap coredomain;

allow screencap gpu_device:chr_file rw_file_perms;
allow screencap ion_device:chr_file rw_file_perms;

allow screencap adbd:fifo_file write;
allow screencap adbd:fd use;
allow screencap adbd:unix_stream_socket { read write };

allow screencap shell_data_file:file write;
allow screencap shell:fd use;
allow screencap shell:unix_stream_socket { read write };

allow screencap dumpstate:fd use;
allow screencap dumpstate:unix_stream_socket { read write };

binder_use(screencap)
binder_call(screencap, surfaceflinger)
allow screencap surfaceflinger_service:service_manager find;
allow screencap surfaceflinger:fd use;

hwbinder_use(screencap)
hal_client_domain(screencap, hal_graphics_allocator)
