type screencap_exec, exec_type, file_type;

typeattribute screencap coredomain;

allow screencap gpu_device:chr_file rw_file_perms;
allow screencap ion_device:chr_file rw_file_perms;

allow screencap adbd:fifo_file write;
allow screencap adbd:fd use;
allow screencap adbd:unix_stream_socket { read write getattr ioctl };

allow screencap shell_data_file:file write;
allow screencap shell:fd use;
allow screencap shell:unix_stream_socket { read write };

allow screencap dumpstate:fd use;
allow screencap dumpstate:unix_stream_socket { read write };

binder_use(screencap)
binder_call(screencap, surfaceflinger)
allow screencap surfaceflinger_service:service_manager find;
binder_call(screencap, system_server)
allow screencap activity_service:service_manager find;

hwbinder_use(screencap)
hal_client_domain(screencap, hal_graphics_allocator)

allow screencap shell_exec:file rx_file_perms;
allow screencap system_file:file execute_no_trans;

allow screencap media_rw_data_file:dir rw_dir_perms;
allow screencap media_rw_data_file:file rw_file_perms;
allow screencap mnt_user_file:dir search;
allow screencap mnt_user_file:lnk_file read;
allow screencap sdcardfs:dir { search write };
allow screencap sdcardfs:file { open write };
allow screencap shell_data_file:file create_file_perms;
allow screencap shell_data_file:dir rw_dir_perms;
allow screencap storage_file:dir search;
allow screencap storage_file:lnk_file read;
allow screencap tmpfs:dir search;
