type virtmanager, domain, coredomain;
type virtmanager_exec, system_file_type, exec_type, file_type;

# When init runs a file labelled with virtmanager_exec, run it in the virtmanager domain.
init_daemon_domain(virtmanager)

# Let the virtmanager domain use Binder.
binder_use(virtmanager)

# Let the virtmanager domain register the virtualization_service with ServiceManager.
add_service(virtmanager, virtualization_service)

# When virtmanager execs a file with the crosvm_exec label, run it in the crosvm domain.
domain_auto_trans(virtmanager, crosvm_exec, crosvm)

# Let virtmanager exec other files (e.g. mk_cdisk) in the same domain.
allow virtmanager system_file:file execute_no_trans;

# Let virtmanager kill crosvm.
allow virtmanager crosvm:process sigkill;

# Let virtmanager access its data directory.
allow virtmanager virtualizationservice_data_file:file create_file_perms;
allow virtmanager virtualizationservice_data_file:dir create_dir_perms;
