typeattribute iorapd coredomain;

init_daemon_domain(iorapd)
tmpfs_domain(iorapd)

domain_auto_trans(iorapd, iorap_prefetcherd_exec, iorap_prefetcherd)
domain_auto_trans(iorapd, iorap_inode2filename_exec, iorap_inode2filename)

# Allow iorapd to access the runtime native boot feature flag properties.
get_prop(iorapd, device_config_runtime_native_boot_prop)
